:root {
    --text-dark: #1a1e2d;
    --text-light: #fff;
    --text-sub: #838694;
    --slide-bg: #5f6579;

    --primary: #02b663;
    --primary-light: #f6f3f1;
    --secondary: #fed857;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /* overflow-X: hidden; */
}
body {
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: inherit;
}

/* break point */
@media screen and (max-width: 1024px) {
    html {
        font-size: 60%;
    }
    .wrap {
        padding: 0 4rem;
        max-width: 1170px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 786px) {
    html {
        font-size: 58.5%;
    }
    .wrap {
        padding: 0 2rem;
        max-width: 1170px;
        margin: 0 auto;
    }
    .title-main {
        font-size: 3.6rem;
        letter-spacing: -0.02em;
        line-height: 4rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }
    .title-sub {
        font-size: 3.6rem;
        letter-spacing: -0.02em;
        font-weight: 300;
    }
}
@media screen and (max-width: 370px) {
    html {
        font-size: 55%;
    }
    .title-main {
        font-size: 3.6rem;
        letter-spacing: -0.02em;
        line-height: 4rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }
    .title-sub {
        font-size: 3.6rem;
        letter-spacing: -0.02em;
        font-weight: 300;
    }
}
