.best-container {
    display: flex;
    flex-wrap: wrap;
}
.best-item {
    margin-bottom: 4rem;
}
.best-item:hover .best-img img {
    transform: scale(1.1);
}

.best-item:hover .project-name {
    color: var(--primary);
}
.best-item:last-child {
    margin-right: 0;
}
.best-img {
    position: relative;
    height: 270px;
    background: var(--text-dark);
    overflow: hidden;
}
.label {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0.4rem 0.8rem;
    border-radius: 9rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10;
}
.label-new {
    background: white;
}
.label-hot {
    background: var(--primary);
    color: var(--text-light);
}
.best-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}
.best-text {
    position: relative;
    padding: 4rem;
    background: white;
    border: 1px solid #e6e6e6;
}
.best-text > img {
    position: absolute;
    top: 4rem;
    right: 4rem;
    transition: 0.3s ease-in-out;
}
@media screen and (max-width: 786px) {
    .best-text {
        position: relative;
        padding: 2rem;
        background: white;
    }
}
